body {
  overflow: hidden;
  /* padding: 0.5em 0; */
}

.OutletContainer {
  width: 100vw;
  height: 100vh;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.OutletContainer-left {
  width: 100vw;
  height: 100vh;
  padding: 0.5em 0.5em 0.5em 15em;
}

.OutletContent {
  /* background-color: red; */
  /* width: 90%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2em; */
  overflow: auto;
  overflow-x: hidden;
}

.Outlet {
  /* background-color: red; */
  /* width: 100%;
  height: 100%; */
}

/* .ant-tabs,
.ant-tabs-top,
.ant-tabs-editable,
.ant-tabs-card,
.ant-tabs-editable-card,
.css-dev-only-do-not-override-1r287do {
  height: 100%;
  /* background-color: aqua; */
